<div class="card card-primary">
    <div class="card-header">
        <h6>Department#{{dept.id}}</h6>
    </div>
    <div class="card-body">
        <strong>{{dept.name}}</strong>
    </div>
    <div class="card-footer text-right">
        <button class="btn btn-sm mr-2" (click)="notifyEditClicked()">
            <i class="fa fa-pencil"> Edit</i>
        </button>
        <button class="btn btn-sm mr-2" (click)="notifyDeleteClicked()">
            <i class="fa fa-trash"> Delete</i>
        </button>
    </div>
</div>