<section class="container-fluid p-4">


    <!-- <mat-button-toggle-group name="empsActions">
        <mat-button-toggle value="empList">
              Employees
        </mat-button-toggle>
        <mat-button-toggle value="newEmp">
              New
        </mat-button-toggle>
    </mat-button-toggle-group>
 -->

    <div class="p-2">
        <a routerLink="list" class="btn btn-sm mr-2">
            <i class="fa fa-list">
                Employees
            </i>
        </a>
        <a routerLink="add" class="btn btn-sm mr-2">
            <i class="fa fa-plus">
                New
            </i>
        </a>
    </div>

    <router-outlet></router-outlet>
</section>